tpConsomateurServiceWeb/src/META-INF/wsdl/localhost_8080/tpServiceWeb/Calculatrice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviceCalculatrice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviceCalculatrice/" name="Calculatrice">
<types>
<xsd:schema>
<xsd:import namespace="http://serviceCalculatrice/" schemaLocation="http://localhost:8080/tpServiceWeb/Calculatrice?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplier">
<part name="parameters" element="tns:multiplier"/>
</message>
<message name="multiplierResponse">
<part name="parameters" element="tns:multiplierResponse"/>
</message>
<message name="additionner">
<part name="parameters" element="tns:additionner"/>
</message>
<message name="additionnerResponse">
<part name="parameters" element="tns:additionnerResponse"/>
</message>
<message name="soustraire">
<part name="parameters" element="tns:soustraire"/>
</message>
<message name="soustraireResponse">
<part name="parameters" element="tns:soustraireResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Calculatrice">
<operation name="multiplier">
<input wsam:Action="http://serviceCalculatrice/Calculatrice/multiplierRequest" message="tns:multiplier"/>
<output wsam:Action="http://serviceCalculatrice/Calculatrice/multiplierResponse" message="tns:multiplierResponse"/>
</operation>
<operation name="additionner">
<input wsam:Action="http://serviceCalculatrice/Calculatrice/additionnerRequest" message="tns:additionner"/>
<output wsam:Action="http://serviceCalculatrice/Calculatrice/additionnerResponse" message="tns:additionnerResponse"/>
</operation>
<operation name="soustraire">
<input wsam:Action="http://serviceCalculatrice/Calculatrice/soustraireRequest" message="tns:soustraire"/>
<output wsam:Action="http://serviceCalculatrice/Calculatrice/soustraireResponse" message="tns:soustraireResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://serviceCalculatrice/Calculatrice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://serviceCalculatrice/Calculatrice/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CalculatricePortBinding" type="tns:Calculatrice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="additionner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soustraire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculatrice">
<port name="CalculatricePort" binding="tns:CalculatricePortBinding">
<soap:address location="http://localhost:8080/tpServiceWeb/Calculatrice"/>
</port>
</service>
</definitions>