clientservletforCardValidator/src/conf/xml-resources/web-service-references/CardValidator/wsdl/YASSALIE-PC_8080/CardValidatorws/CardValidator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://upf.ac.ma/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://upf.ac.ma/">

<xs:element name="creditCard" type="tns:creditCard"/>

<xs:element name="validate" type="tns:validate"/>

<xs:element name="validateResponse" type="tns:validateResponse"/>

<xs:complexType name="validate">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="controlNumber" type="xs:int"/>
<xs:element name="expiryDate" type="xs:string" minOccurs="0"/>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>