ccwsentity/web/WEB-INF/wsit-ws.CardValidator.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CardValidator" targetNamespace="http://ws/" xmlns:tns="http://ws/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="create"/>
    <message name="createResponse"/>
    <message name="edit"/>
    <message name="editResponse"/>
    <message name="remove"/>
    <message name="removeResponse"/>
    <message name="find"/>
    <message name="findResponse"/>
    <message name="findAll"/>
    <message name="findAllResponse"/>
    <message name="findRange"/>
    <message name="findRangeResponse"/>
    <message name="count"/>
    <message name="countResponse"/>
    <portType name="CardValidator">
        <operation name="create">
            <input message="tns:create"/>
            <output message="tns:createResponse"/>
        </operation>
        <operation name="edit">
            <input message="tns:edit"/>
            <output message="tns:editResponse"/>
        </operation>
        <operation name="remove">
            <input message="tns:remove"/>
            <output message="tns:removeResponse"/>
        </operation>
        <operation name="find">
            <input message="tns:find"/>
            <output message="tns:findResponse"/>
        </operation>
        <operation name="findAll">
            <input message="tns:findAll"/>
            <output message="tns:findAllResponse"/>
        </operation>
        <operation name="findRange">
            <input message="tns:findRange"/>
            <output message="tns:findRangeResponse"/>
        </operation>
        <operation name="count">
            <input message="tns:count"/>
            <output message="tns:countResponse"/>
        </operation>
    </portType>
    <binding name="CardValidatorPortBinding" type="tns:CardValidator">
        <wsp:PolicyReference URI="#CardValidatorPortBindingPolicy"/>
        <operation name="create">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="edit">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="remove">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="find">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="findAll">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="findRange">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
        <operation name="count">
            <input>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Input_Policy"/>
            </input>
            <output>
                <wsp:PolicyReference URI="#CardValidatorPortBinding_create_Output_Policy"/>
            </output>
        </operation>
    </binding>
    <service name="CardValidator">
        <port name="CardValidatorPort" binding="tns:CardValidatorPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="CardValidatorPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsam:Addressing/>
                <sp:SymmetricBinding>
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:WssX509V3Token10/>
                                        <sp:RequireIssuerSerialReference/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss11>
                    <wsp:Policy>
                        <sp:MustSupportRefIssuerSerial/>
                        <sp:MustSupportRefThumbprint/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
                <sp:SignedEncryptedSupportingTokens>
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedEncryptedSupportingTokens>
                <sc:KeyStore wspp:visibility="private" location="C:\Users\YASSALIE\AppData\Roaming\NetBeans\8.2\config\GF_4.1.1\domain1\config\keystore.jks" type="JKS" storepass="changeit" alias="xws-security-server"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CardValidatorPortBinding_create_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="CardValidatorPortBinding_create_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                    <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Name="AckRequested" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="SequenceAcknowledgement" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="Sequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                    <sp:Header Name="CreateSequence" Namespace="http://docs.oasis-open.org/ws-rx/wsrm/200702"/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
